In [10]:
import config
import pandas as pd
from classrad.utils import io

datasets = config.DATASETS

for task in datasets[4:]:
    result_dir = config.RESULT_DIR / task
    df = pd.read_csv(result_dir / "features.csv")
    splits = io.load_json(result_dir / "splits.json")
    df['test'] = 0
    df.loc[df['subject_id'].isin(splits['test']), 'test'] = 1
    print(task, df.groupby(by=['test', 'label'])['subject_id'].count())

Liver test  label
0     0        73
      1        75
1     0        19
      1        19
Name: subject_id, dtype: int64
Melanoma test  label
0     0        38
      1        38
1     0        10
      1         9
Name: subject_id, dtype: int64

In [4]:
splits

                                                     {
    "split_type": "test + cross-validation on t... NaN
    "test": [                                      NaN
        "CRLM-075"                                 NaN
        "CRLM-013"                                 NaN
        "CRLM-026"                                 NaN
...                                                 ..
                "CRLM-017"                         NaN
            ]                                      NaN
        ]                                          NaN
    }                                              NaN
}                                                  NaN

[357 rows x 1 columns]